/**** Barra de Navegação Vertical ****/
/*
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
    padding: 5px 20px;
    background: url(../Imagens/seta.png) no-repeat left center;
}*/


/*
ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul a{
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(../Imagens/menu.png) no-repeat left bottom;
}

a:hover{
    background-position: right bottom;
    background-color: #f99200;
    color: #FFF;
}

#home #navegacao .home a, #sobre #navegacao .sobre a, #servicos #navegacao .servicos a {
    background-position: right bottom;
    background-color: #f99200;
    color: #FFF;
}/*

/**** Barra de Navegação com abas ****/

body {
    font-family:'Trebuchet MS', Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 720;
}

ul li {
    float: left;
    background: url(../Imagens/aba-direita.png) no-repeat top right;
}

li a {
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(../Imagens/aba-esquerda.png) no-repeat top left;
    color: white;
}

ul a:hover{
    color: #894a1f;
}

ul #atual {
    background: url(../Imagens/aba-direita-atual.png) no-repeat top right;
}

ul #atual a {
    background: url(../Imagens/aba-esquerda-atual.png) no-repeat top left;
}